<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>新增商品</title>
</head>

<body>
<h1 th:inline="text">新增商品</h1>
<form id="iform" th:action="@{/goods/insert}" th:method="post" th:object="${goods}">
    <label>商品名</label>
    <input type="text" th:field = "*{name}"/>
    <label>商品编号</label>
    <input type="text" th:field = "*{id}"/>
    <label>商品价格</label>
    <input type="text" th:field = "*{pri}"/>
    <label>商品种类</label>
    <input type="text" th:field = "*{type}"/>
    <input th:label="提交" type="submit"/>
</form>

</body>
</html>