<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>新增员工</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/signin.css}" rel="stylesheet">
</head>

<body>

<form id="iform" th:action="@{/staff/insert}" th:method="post" th:object="${staff}">
    <input type="text" name = "na" class="form-control" placeholder="员工姓名" required="" autofocus="">
    <input type="text" name = "ge" class="form-control" placeholder="员工性别" required="">
    <input type="text" name = "ph" class="form-control" placeholder="员工联系方式" required="">
    <input type="text" name = "po" class="form-control" placeholder="员工职位" required="">
    <input th:label="提交" type="submit"/>



</form>

</body>
</html>