<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>员工列表</title>

</head>
<body>
<h1 th:inline="text">员工列表</h1>
<table>
    <!-- 名称 -->
    <thead>
    <tr>
        <th >序号</th>
        <th >员工姓名</th>
        <th >员工编号</th>
        <th >员工性别</th>
        <th >员工电话</th>
        <th >员工职位</th>
        <th >操作</th>
    </tr>

    </thead>
    <!-- 动态插入内容 -->
    <tbody>
    <tr th:each="s: ${staffList}" >
        <td th:text=" ${sStat.index + 1}"></td>
        <td th:text=" ${s.getName()}"></td>
        <td th:text=" ${s.getId()}"></td>
        <td th:text=" ${s.getGender()}"></td>
        <td th:text=" ${s.getPh()}"></td>
        <td th:text=" ${s.getPo()}"></td>
        <td>
            <a th:href="@{/staff/update (id = ${s.getId()})}" >修改</a>

            <a th:href="@{/staff/delete (id = ${s.getId()})}" >删除</a>

        </td>
    </tr>
    </tbody>
</table>

<form class="form-signin" th:action = "@{/staff/index}">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">新增</button>
</form>



</body>
</html>