<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>新增用户</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/signin.css}" rel="stylesheet">
</head>

<body>

<form id="iform" th:action="@{/user/insert}" th:method="post" th:object="${user}">

    <input type="text" name = "na" class="form-control" placeholder="用户姓名" required="" autofocus="">
    <input type="text" name = "pwd" class="form-control" placeholder="用户密码" required="">
    <input type="text" name = "cha" class="form-control" placeholder="用户备注" required="">


    <input th:label="提交" type="submit"/>
</form>

</body>
</html>