<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>VipList</title>
</head>
<body>
<h1 th:inline="text">Vip</h1>
<table>
    <!-- 名称 -->
    <thead>
    <tr>
        <th >会员序号</th>
        <th >会员卡号</th>
        <th >会员姓名</th>
        <th >会员联系方式</th>
        <th >操作</th>
    </tr>

    </thead>
    <!-- 动态插入内容 -->
    <tbody>
    <tr th:each="s: ${vipList}" >
        <td th:text=" ${sStat.index + 1}"></td>
        <td th:text=" ${s.getId()}"></td>
        　　<td th:text=" ${s.getName()}"></td>
        　　<td th:text=" ${s.getPh()}"></td>
        <td>
            <a th:href="@{/vip/update (id = ${s.getId()})}" >修改</a>

            <a th:href="@{/vip/delete (id = ${s.getId()})}" >删除</a>

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>